langchain
langchain_community
ipykernel
nltk
matplotlib
wordcloud
langchain_huggingface
sentence-transformers
tqdm
langchain_mistralai
ragas
fastapi
streamlit
pathlib
pydantic
fastapi
uvicorn
logging
streamlit
sqlalchemy
streamlit_feedback
pytest